.sticky-debug-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
}

.sticky-debug-bar a {
  color: #007bff !important;
  cursor: pointer;
}

.swal2-html-container table tr {
  border: 1px solid black;
  text-align: left;
}
